<ng-container *ngIf="selectedItem$ | async as item">
  <ul class="card-list">
    <div>
      <li class="card">
        <div class="card-title">{{item.name}}</div>
        <div>
          <p>Description: {{item.description}}</p>
          <p>Id: {{item.id}}</p>
        </div>
        <img class="card-image" src="../../assets/img/item-image.png" alt="item image">
        <div class="card-footer">
          <div>Price: &euro; {{item.price}}</div>
          <div class="stock">
            <span>{{item.stockUrgency}}</span>
            <img class="icon" src="../../assets/img/warning-icon.png" alt="warning">
          </div>
        </div>
      </li>
    </div>
  </ul>
  <button class="btn-create" type="submit">Update</button>
  <button class="btn-create" type="reset" [routerLink]="['../']">Cancel</button>

</ng-container>
